# Import data from calorie csv
Due to potential privacy issues, the file calories_burnt_details.csv is not shared

Filter data

In [7]:
import pandas as pd

calories_burnt_details = pd.read_csv("calories_burnt_details.csv", skiprows=1, index_col=False)
calories_burnt_details.dropna(how="all", axis=1, inplace=True)
calories_burnt_details.columns = [column.replace("com.samsung.shealth.calories_burned.", "") for column in calories_burnt_details.columns]
# calories_burnt_details.drop(columns=["pkg_name", "deviceuuid", "datauuid", "create_time", "update_time", "extra_data"], inplace=True)

fix the dates and only select dates from today

In [2]:
calories_burnt_details['day_time'] = pd.to_datetime(calories_burnt_details['day_time'], unit = 'ms')
start_date = pd.Timestamp('2023-08-07')
calories_burnt_details = calories_burnt_details.loc[calories_burnt_details.day_time > start_date]
calories_burnt_details.loc[:, "active_time"] = calories_burnt_details["active_time"] / 60000
calories_burnt_details.set_index("day_time", inplace=True)
calories_burnt_details

            tef_calorie  active_time  rest_calorie  active_calorie
day_time
2023-08-08          0.0    63.928067     1511.0006      194.849870
2023-08-09          0.0    49.500133     1526.8431      148.599990
2023-08-10          0.0    94.966917     1476.9182      287.869870
2023-08-11          0.0    20.375850     1558.8231       57.369995
2023-08-12          0.0    52.294133     1523.7751      155.530000
...                 ...          ...           ...             ...
2023-11-06          0.0    66.311583     1559.5035      279.555180
2023-11-07          0.0    44.138183     1584.6764      142.370030
2023-11-08          0.0    28.143067     1602.8351      118.748200
2023-11-09          0.0    99.719867     1521.5763      361.143370
2023-11-10          0.0     0.155633      652.8054        0.440000

[95 rows x 4 columns]

Check if tef_calorie is significant

In [3]:
calories_burnt_details.loc[calories_burnt_details.tef_calorie != 0.0]

Empty DataFrame
Columns: [tef_calorie, active_time, rest_calorie, active_calorie]
Index: []

Insignificant, so drop

In [4]:
calories_burnt_details.drop(columns=["tef_calorie"], inplace=True)

In [5]:
import numpy as np

group_key = np.arange(len(calories_burnt_details)) // 7
calories_burnt_weekly = calories_burnt_details.groupby(group_key).mean()
calories_burnt_weekly.index = [i + 1 for i in range(len(calories_burnt_weekly))]
calories_burnt_weekly

    active_time  rest_calorie  active_calorie
1     48.116400   1528.362557      144.674238
2     55.579817   1520.167286      172.868576
3     44.647274   1532.171814      163.210354
4     45.593540   1531.132786      159.980062
5     38.840790   1538.547657      139.419959
6     44.406855   1532.435857      151.814914
7     37.022183   1540.544614      140.261623
8     39.616317   1537.696114      135.044181
9     33.955024   1543.912486      105.547319
10    35.096131   1542.659486      108.473607
11    26.592536   1551.996886       83.548558
12    43.887726   1533.005871      149.163237
13    61.634586   1550.530214      254.298144
14    43.039187   1340.473300      155.675400